<div class="row">
  <div class="col-12 my-2">
    <!-- ? datatable -->
    <ngx-datatable
    #myTable
    #tables
    class="material expandable"
    [columnMode]="columnMode.force"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="15"
    [reorderable]="true"
    [summaryRow]="true"
    [summaryHeight]="55"
  >
    <ng-template #nameSummaryCell let-row="row" let-value="value">
      <div class="name-container">
        <div class="chip" >
          <span class="chip-text">{{value}}</span>
        </div>
      </div>
    </ng-template>
    <!--  -->
    <ngx-datatable-column name="Index" [minWidth]="60" [width]="80" [maxWidth]="50">
      <ng-template
        let-rowIndex="rowIndex"
        let-row="row"
        ngx-datatable-cell-template
      >
        <span>{{ rowIndex + 1 }}</span>
      </ng-template>
    </ngx-datatable-column>
    <!--todo end -->
    <ngx-datatable-column name="mes" [width]="100" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Mes</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <a [routerLink]="[(row.mes).toLowerCase()]"
          class="sm-textTable"
          >{{ value }}</a
        >
      </ng-template>
    </ngx-datatable-column>
    <!-- todo -->
    <ngx-datatable-column name="breakfast" [width]="100" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Desayuno</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <a
          class="sm-textTable"
          >{{ value }}</a
        >
      </ng-template>
    </ngx-datatable-column>
    <!-- todo -->
    <ngx-datatable-column name="lunch" [width]="100" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Almuerzo</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <a
          class="sm-textTable"
          >{{ value }}</a
        >
      </ng-template>
    </ngx-datatable-column>
    <!-- todo -->
    <ngx-datatable-column name="afternoonSnack" [width]="100" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Merienda</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <a
          class="sm-textTable"
          >{{ value }}</a
        >
      </ng-template>
    </ngx-datatable-column>
    <!-- todo -->
    <ngx-datatable-column name="dinner" [width]="100" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Cena</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <a
          class="sm-textTable"
          >{{ value }}</a
        >
      </ng-template>
    </ngx-datatable-column>
    <!-- todo -->
    <ngx-datatable-column *ngIf="userRol == 'admin'" name="" [width]="100" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Promedio</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <a
          class="sm-textTable"
          >{{ row.breakfast + row.lunch + row.afternoonSnack + row.dinner / 4 }}</a
        >
      </ng-template>
    </ngx-datatable-column>
    <!-- todo -->
    <ngx-datatable-column *ngIf="userRol == 'admin'" name="" [width]="80" [flexGrow]="1" >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="cursor" (click)="sort()">Visados</span>
      </ng-template>
      <ng-template
        let-value="value"
        let-row="row"
        ngx-datatable-cell-template
      >
        <div class="sm-textTable">
          <!-- icono check fontawesome -->
          <i *ngIf="row.visado == row.total && row.visado > 0" class="fas fa-check"></i>
          <span *ngIf="row.visado || row.noVisado">
            <!-- icono check fontawesome -->
            visados: {{ row.visado }} de {{ row.total }}
          </span>
        </div>
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
    <!-- ? end datatable -->
  </div>
</div>
