<div class="login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1">
          <img class="brand-image" src="https://res.cloudinary.com/hysmatafuegos/image/upload/v1659745309/logo-3_d1giyk.png" alt="">
        </a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Inicio de sesion</p>

        <form
          id="login-form"
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Usuario"
              formControlName="userName"
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-solid fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              formControlName="password"
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!loginForm.valid"
              >
                Ingresar
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!-- /.social-auth-links -->

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
