<div class="row">
  <!-- crear comensal button -->
  <div class="col-md-12 py-2">
    <!-- (click)="crearComensal()" -->
    <button class="btn btn-primary"
      data-toggle="modal" data-target="#crearComensal" data-whatever="@comensal"
    >
      <i class="fa fa-plus"></i> Crear comensal
    </button>
    <!-- crear comensale con excel -->
    <button class="btn btn-success ml-2">
      <i class="fa fa-file"></i> Crear comensal con excel
    </button>
  </div>

</div>
<!-- # MODALS -->
<div class="modal fade" id="crearComensal" tabindex="-1" role="dialog" aria-labelledby="crearComensalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear comensal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="formCrearComensal"
          autocomplete="off"
          #formCrearComensal="ngForm"
          [formGroup]="formGroup"
          (ngSubmit)="crearComensal()"
        >
        <!-- * FILTER SEARCH -->
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Empresa:</label>
            <!-- input hide para almacenar el id -->
            <input type="text" class="form-control" id="empresaId" formControlName="empresaId" hidden>
            <input (keyup)="handlerChange($event)"
              type="text" class="form-control" id="empresa"
              formControlName="empresa"
              (clickOutside)="outsideFilter($event)"
            >
            <div class="" *ngIf="isLoad">
              <ul class="bg-light my-1 p-2 border-radius dropdown-search list-unstiled">
                <li *ngFor="let empresa of empresasFilter"
                  class="p-1 item-hover"
                  (click)="selectEmpresa(empresa)"
                >
                  {{empresa.name}} - cuit: {{empresa.cuit}}
                </li>
              </ul>
            </div>
          </div>
          <!-- * FULLNAME -->
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="message-text" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="firstName">
              </div>
              <div class="col">
                <label for="message-text" class="col-form-label">Apellido:</label>
                <input type="text" class="form-control" id="apellido" formControlName="lastName">
              </div>
            </div>
          </div>
          <!-- * Email -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <!-- * TYPE DOCUMENT -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tipo de documento:</label>
            <select class="form-control" formControlName="typeDocument">
              <option value="DNI">DNI</option>
              <option value="CUIT">CUIT</option>
              <option value="CUIL">CUIL</option>
              <option value="PASAPORTE">PASAPORTE</option>
            </select>
          </div>
          <!-- * NUMBER DOCUMENT -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Número de documento:</label>
            <input type="text" class="form-control" id="numeroDocumento" formControlName="document">
          </div>
          <!-- * CUIL -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">CUIL:</label>
            <input type="text" class="form-control" id="cuil" formControlName="cuil">
          </div>
          <!-- * BUTTONS -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" [disabled]="!formGroup.valid" (click)="submitted()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- # END COMENSAL -->
<div class="row">
  <div class="col-12">
    <!-- * TABLES -->

    <ngx-datatable
      #myTable #tables
      class="material expandable"
      [columnMode]="ColumnMode.force"
      [rows]="rows"
      [loadingIndicator]="loadingIndicator"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [reorderable]="true"
    >
      <!-- * ROW DETAIL -->
      <ngx-datatable-row-detail
        [rowHeight]="70" #myDetailRow
      >
        <ng-template
          let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template
        >
          <div class="">
            -
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- * ROW DETAIL -->
      <!-- * BUTTON RESPONSIVE -->
      <ngx-datatable-column
        [width]="100"
        [minWidth]="10"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
      >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            class=""
          >
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- * BUTTON RESPONSIVE -->
      <!-- * COLUMN INDICES -->
      <ngx-datatable-column name="Nro" [minWidth]="10" [width]="10">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span>{{ rowIndex +1 }}</span>
        </ng-template>
      </ngx-datatable-column>
      <!-- * COLUMN INDICES -->
      <!-- * COLUMNAS *************** -->
      <ngx-datatable-column name="userName" [flexGrow]="1" [minWidth]="95" [width]="130">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="cursor" (click)="sort()" >Empleado</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="sm-textTable" [routerLink]="['/dashboard/usuario', row['uid']]">
            {{value}}
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- *************************** -->
      <ngx-datatable-column name="cuil" [flexGrow]="1" [minWidth]="95" [width]="130">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="cursor" (click)="sort()" >CUIL</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="sm-textTable">
            {{value ? value : '-'}}
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- *************************** -->
      <ngx-datatable-column name="typeDocument" [flexGrow]="1" [minWidth]="95" [width]="130">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="cursor" (click)="sort()" >Tipo Doc.</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="sm-textTable">
            {{value ? value : '-'}}
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- *************************** -->
      <ngx-datatable-column name="document" [flexGrow]="1" [minWidth]="95" [width]="130">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="cursor" (click)="sort()" >Documento</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="sm-textTable">
            {{value ? value : '-'}}
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- *************************** -->
      <ngx-datatable-column name="empresa" [flexGrow]="1" [minWidth]="95" [width]="130">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="cursor" (click)="sort()" >Contratista</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="sm-textTable">
            {{value.name ? value.name : '-'}}
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- *************************** -->
      <ngx-datatable-column name="empresa" [flexGrow]="1" [minWidth]="95" [width]="130">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="cursor" (click)="sort()" >Cuit</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <a class="sm-textTable">
            {{value.cuit ? value.cuit : '-'}}
          </a>
        </ng-template>
      </ngx-datatable-column>
      <!-- *************************** -->

    </ngx-datatable>
    <!-- * END TABLE -->

  </div>
</div>
