.bg-blur-menu-saludable {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1662518939/powerpoint-background-91_o9bkmx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-blur-menu-dieta {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1662599982/fondo_2_o8qn8y.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-blur-menu-normal {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1662599981/fondo_1_fk4wmf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  border-radius: 0.32em;
}

.bg-transparent {
  color: aliceblue;
  /* bg blur */
  background-color: rgba(0, 0, 0, 0.377) !important;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 20px 0 20px 0px;
  padding: 1rem;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.877) 0.1em 0.1em 0.2em !important;
  /* sombra en letras */
  font-size: 1.2rem;
}
