
<div class="row">
  <!-- * -->
  <div class="card-deck my-2 col-12">
    <div *ngFor="let menu of menus"  [ngClass]="menu.type == 'normal' ? 'card bg-blur-menu-normal' :
    menu.type == 'dieta' ? 'card bg-blur-menu-dieta' : 'card bg-blur-menu-saludable'">
      <!-- <img src="https://res.cloudinary.com/hysmatafuegos/image/upload/v1662518436/dfca14e455fba51b84266b8af1e1f5c8_jb9v2u.jpg" class="card-img-top" alt="..."> -->
      <div class="card-body text-white">
        <h3 class="card-title text-capitalize">{{menu.type}}</h3>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
      <ul class="list-group list-group-flush bg-transparent">
        <li class="list-group-item bg-transparent">Desayuno: {{menu.breakfast.dish}}</li>
        <li class="list-group-item bg-transparent">Almuerzo: {{menu.lunch.dish}}</li>
        <li class="list-group-item bg-transparent">Merienda: {{menu.afternoonSnack.dish}}</li>
        <li class="list-group-item bg-transparent">Cena: {{menu.dinner.dish}}</li>
      </ul>
    </div>
  </div>
  <!-- * -->
</div>
