<div class="container">
  <div *ngIf="!isComensal" class="row">
    <div class="col">
      <!-- button crear registro manual -->
      <button
        class="btn btn-primary btn-sm float-right"
        data-toggle="modal"
        data-target="#modalCrearRegistroManual"
      >
        Crear registro manual
      </button>
      <button class="btn btn-primary btn-sm float-right mx-1"
        data-toggle="modal"
        data-target="#crearComensal"
      >
        Crear comensal
      </button>
    </div>
  </div>
  <div class="row">

    <!-- <div class="col-md-8 col-sm-12 border-radius p-2">
      <h4 class="text-capitalize">Comida: {{ HoraComidaActual?.tipo == 'lunch' ? 'almuerzo' :
          HoraComidaActual?.tipo == 'breakfast' ? 'desayuno' :
          HoraComidaActual?.tipo == 'afternoonSnack' ? 'merienda' :
          HoraComidaActual?.tipo == 'dinner' ? 'cena' : ''
        }}</h4>
      <hr>
      <div class="row row-col-1 row-cols-md-3">

        <div class="col mb-4"
          *ngFor="let registroDiario of registrosDiarios; let i = index"
        >
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-capitalize">{{registroDiario.usuario.userName}}</h5>
              <p class="card-text">
                <span>
                  Empresa: {{registroDiario.usuario.empresa!.name}}
                </span><br>
                <span>
                  DNI: {{registroDiario.usuario!.document}}
                </span><br>
                <span *ngIf="registroDiario?.breakfast?.dish">
                  Desayuno: {{registroDiario ? registroDiario?.breakfast?.dish : ''}}
                </span>
                <span *ngIf="registroDiario?.lunch?.dish">
                  Almuerzo: {{registroDiario ? registroDiario!.lunch.dish : ''}}
                </span>
                <span *ngIf="registroDiario?.afternoonSnack?.dish">
                  Merienda: {{registroDiario ? registroDiario!.afternoonSnack.dish : ''}}
                </span>
                <span *ngIf="registroDiario?.dinner?.dish">
                Cena: {{registroDiario ? registroDiario!.dinner.dish : ''}}
                </span>
              </p>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col">Nro: {{registroDiario.nro}}</div>
                <div class="col">Fecha: {{registroDiario.date}} </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> -->

    <div class="col-md-8 mx-auto col-sm-12 border-radius p-2">
      <h4 class="text-capitalize">{{fechaHoy}}</h4>
      <h4 class="text-capitalize">Comida: {{ HoraComidaActual?.tipo == 'lunch' ? 'almuerzo' :
        HoraComidaActual?.tipo == 'breakfast' ? 'desayuno' :
        HoraComidaActual?.tipo == 'afternoonSnack' ? 'merienda' :
        HoraComidaActual?.tipo == 'dinner' ? 'cena' : ''
      }}</h4>
      <hr>

      <!-- * card se cargo el usuario -->
      <div class="card border-radius" *ngIf="cargoUsuarioComensal">
        <div class="card-body p-4">
          <div class="container">
            <div class="row py-2">
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  Nombre:
                </h3>
                <span class="text-muted">
                  {{ usuarioComensalDetalle?.userName }}
                </span>
              </div>
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  Empresa:
                </h3>
                <span class="text-muted">
                  {{ usuarioComensalDetalle?.empresa?.name }}
                </span>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  Documento:
                </h3>
                <span class="text-muted">
                  {{ usuarioComensalDetalle?.document }}
                </span>
              </div>
              <!-- <div class="col">
                <h3 class="text-capitalize mb-0">
                  {{ultimaComidaTipo}}:
                </h3>
                <span class="text-muted">
                  {{ultimaComidaNombre ? ultimaComidaNombre : ''}}
                </span>
              </div> -->
            </div>
          </div>


        </div>
      </div>
      <!-- * card se confirmo el usuario -->
      <!-- <div class="card border-radius" *ngIf="cargoUsuarioComensal">
        <div class="card-body p-4">
          <div class="container">
            <div class="row py-2">
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  Nombre:
                </h3>
                <span class="text-muted">
                  {{ultimoRegistroDiario ? ultimoRegistroDiario!.usuario.userName : ''}}
                </span>
              </div>
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  Empresa:
                </h3>
                <span class="text-muted">
                  {{ultimoRegistroDiario ? ultimoRegistroDiario!.usuario.empresa!.name : ''}}
                </span>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  DNI:
                </h3>
                <span class="text-muted">
                  {{ultimoRegistroDiario ? ultimoRegistroDiario!.usuario!.document : ''}}
                </span>
              </div>
              <div class="col">
                <h3 class="text-capitalize mb-0">
                  {{ultimaComidaTipo}}:
                </h3>
                <span class="text-muted">
                  {{ultimaComidaNombre ? ultimaComidaNombre : ''}}
                </span>
              </div>
            </div>
          </div>


        </div>
      </div> -->

      <form
        id="formDni"
        autocomplete="off"
        #formDni="ngForm"
        [formGroup]="formGroup"
        (ngSubmit)="validarDni()"
      >
      <!-- registrarComensal() -->
        <!-- input number -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <!-- <span class="input-group-text" id="basic-addon1">DNI</span> -->
            <!-- class="input-group-text" -->
            <!-- dropdown seleccionar dni o pasaporte defecto dni -->
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle text-uppercase"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{typeDocument}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span style="cursor: pointer;" class="dropdown-item" disabled (click)="cambiarTypeDocument('dni')" >DNI</span>
                <span style="cursor: pointer;" class="dropdown-item" (click)="cambiarTypeDocument('pasaporte')" >Pasaporte</span>
              </div>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Ingrese Documento"
          (blur)="validarDni()"
          aria-label="Username" aria-describedby="basic-addon1" formControlName="nDocu" >
        </div>
        <div class="row" *ngIf="typeDocument == 'dni'">
          <div class="col">
            <div class="row">
              <div (click)="handleClick(7)" class="col bg-white text-center border radius h4 p-3 m-1">7</div>
              <div (click)="handleClick(8)" class="col bg-white text-center border radius h4 p-3 m-1">8</div>
              <div (click)="handleClick(9)" class="col bg-white text-center border radius h4 p-3 m-1">9</div>
            </div>
            <div class="row">
              <div (click)="handleClick(4)" class="col bg-white text-center border radius h4 p-3 m-1">4</div>
              <div (click)="handleClick(5)" class="col bg-white text-center border radius h4 p-3 m-1">5</div>
              <div (click)="handleClick(6)" class="col bg-white text-center border radius h4 p-3 m-1">6</div>
            </div>
            <div class="row">
              <div (click)="handleClick(1)" class="col bg-white text-center border radius h4 p-3 m-1">1</div>
              <div (click)="handleClick(2)" class="col bg-white text-center border radius h4 p-3 m-1">2</div>
              <div (click)="handleClick(3)" class="col bg-white text-center border radius h4 p-3 m-1">3</div>
            </div>
            <div class="row">
              <div class="col bg-white text-center border radius h4 p-3 m-1">-</div>
              <div (click)="handleClick(0)" class="col bg-white text-center border radius h4 p-3 m-1">0</div>
              <div (click)="handleBorrar()" class="col bg-white text-center border radius h4 p-3 m-1">
                <!-- icon borrar -->
                <i class="fas fa-backspace"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <!-- radius 2 opciones normal o dieta -->
          <div class="col text-center p-2 m-1 ">
            <div class="form-check form-check-inline"
              *ngFor="let menu of menus"
            >
              <input formControlName="tipo" class="form-check-input size-input" type="radio" [id]="menu.type" [value]="menu.uid">
              <label style="font-size: 1.5rem;" class="form-check-label text-capitalize" (click)="selectRadio(menu)" for="inlineRadio1">{{menu.type}}</label>
            </div>
          </div>

        </div>
        <div class="row pb-4">
          <div class="col-12">
            <button *ngIf="!cargoUsuarioComensal" (click)="cargarUsuarioComensal()" [disabled]="!formGroup.valid" type="button"
            class="btn btn-primary btn-md mx-2">
              <!-- cargar comensal -->
              <i class="fas fa-user-plus"></i> Cargar
            </button>
            <!-- button cancelar -->
            <button *ngIf="cargoUsuarioComensal" (click)="cancelarCargarUsuarioComensal()" type="button"
            class="btn btn-danger btn-md mx-2">
              <!-- cancelar usuario -->
              <i class="fas fa-times"></i> Cancelar
            </button>
            <button *ngIf="cargoUsuarioComensal" (click)="registrarComensal()" type="button"
            class="btn btn-primary btn-md mx-2">
              <!-- confirmar usuario -->
              <i class="fas fa-check"></i> Confirmar
            </button>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- * Modal crear registro manual -->
<!-- ? modal crear comensal -->
<div
  class="modal fade"
  id="modalCrearRegistroManual"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalCrearRegistroManualLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCrearRegistroManualLabel">Crear Registro Manual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="formCrearCrearRegistroManual"
          autocomplete="off"
          #formCrearCrearRegistroManual="ngForm"
          [formGroup]="formGroup2"
          (ngSubmit)="crearRegistroManual()"
        >
          <!-- * Nro Documento -->
          <div class="form-group">
                <label for="message-text" class="col-form-label">Nro. Documento:</label>
                <input type="text" class="form-control" id="nroDoc" formControlName="nDocumento">
          </div>
          <!-- * fecha -->
          <div class="form-group">
            <!-- seleccion hora del dia 24 hrs -->
            <label for="horaFin">Fecha</label>
            <!-- text muted  -->
            <span class="mx-1 text-muted">(si no se ingresa fecha por defecto es dia actual)</span>
            <input type="date" class="form-control" id="fecha" formControlName="fecha">
          </div>
          <!-- * Tipo comida -->
          <!-- select -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tipo Comida:</label>
            <select class="form-control" formControlName="horaMenu">
              <option value="breakfast">Desayuno</option>
              <option value="lunch">Almuerzo</option>
              <option value="afternoonSnack">Merienda</option>
              <option value="dinner">Cena</option>
            </select>
          </div>
          <!--  -->
          <!-- * Tipo menu, saludable etc -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tipo Menu:</label>
            <select class="form-control" formControlName="tipoMenu">
              <option class="text-capitalize" [value]="menu.uid" *ngFor="let menu of menus">
                {{menu.type}}
              </option>
            </select>
          </div>
          <!-- * BUTTONS -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" [disabled]="formGroup2.invalid" (click)="crearRegistroManual()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- * End Modal crear registro manual -->
<div class="modal fade" id="crearComensal" tabindex="-1" role="dialog" aria-labelledby="crearComensalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear comensal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="formCrearComensal"
          autocomplete="off"
          #formCrearComensal="ngForm"
          [formGroup]="formGroup3"
          (ngSubmit)="crearComensal()"
        >
        <!-- * FILTER SEARCH -->
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Empresa:</label>
            <!-- input hide para almacenar el id -->
            <input type="text" class="form-control" id="empresaId" formControlName="empresaId" hidden>
            <input (keyup)="handlerChange($event)"
              type="text" class="form-control" id="empresa"
              formControlName="empresa"
              (clickOutside)="outsideFilter($event)"
            >
            <div class="" *ngIf="isLoad">
              <ul class="bg-light my-1 p-2 border-radius dropdown-search list-unstiled">
                <li *ngFor="let empresa of empresasFilter"
                  class="p-1 item-hover"
                  (click)="selectEmpresa(empresa)"
                >
                  {{empresa.name}} - cuit: {{empresa.cuit}}
                </li>
              </ul>
            </div>
          </div>
          <!-- * FULLNAME -->
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="message-text" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="firstName">
              </div>
              <div class="col">
                <label for="message-text" class="col-form-label">Apellido:</label>
                <input type="text" class="form-control" id="apellido" formControlName="lastName">
              </div>
            </div>
          </div>
          <!-- * Email -->
          <!-- <div class="form-group">
            <label for="message-text" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div> -->
          <!-- * TYPE DOCUMENT -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tipo de documento:</label>
            <select class="form-control" formControlName="typeDocument">
              <option value="DNI">DNI</option>
              <option value="CUIT">CUIT</option>
              <option value="CUIL">CUIL</option>
              <option value="PASAPORTE">PASAPORTE</option>
            </select>
          </div>
          <!-- * NUMBER DOCUMENT -->
          <div class="form-group">
            <label for="message-text" class="col-form-label">Número de documento:</label>
            <input type="text" class="form-control" id="numeroDocumento" formControlName="document">
          </div>
          <!-- * CUIL -->
          <!-- <div class="form-group">
            <label for="message-text" class="col-form-label">CUIL:</label>
            <input type="text" class="form-control" id="cuil" formControlName="cuil">
          </div> -->
          <!-- * BUTTONS -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" [disabled]="!formGroup3.valid" (click)="submitted()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
