.bg-prueba-1 {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1661476364/puna/bbq-hamburger-double-border-above-260nw-1774860830_cpzeox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  z-index: 1;
  height: 20vh;
  border-radius: 2em 0 2em 0;
}
.bg-prueba-2 {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1661476365/puna/burger-banner-raw-ingredients-grilled-260nw-1769975306_wjq5yt.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  z-index: 1;
  height: 20vh;
  border-radius: 2em 0 2em 0;
}
.bg-prueba-3 {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1661476365/puna/fresh-raw-salmon-steak-on-260nw-1946807518_gt8vsz.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  z-index: 1;
  height: 20vh;
  border-radius: 2em 0 2em 0;
}
.bg-prueba-4 {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1661476364/puna/hamburger-french-fries-on-dark-260nw-739849564_vqgcdv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  z-index: 1;
  height: 20vh;
  border-radius: 2em 0 2em 0;
}
.bg-prueba-5 {
  background-image: url(https://res.cloudinary.com/hysmatafuegos/image/upload/v1661476364/puna/0299026ae1a0156e20f94b05c6079312_h6tsbc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  z-index: 1;
  height: 20vh;
  border-radius: 2em 0 2em 0;
}
.contain {
  /* container cubrira todo el alto y ancho para poner difuminado */
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  /*  */
  border-radius: 2em 0 2em 0;
  /* alinear verticalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

