<div class="row justify-content-center">
  <div class="col-10 my-2 bg-prueba-1 text-center "
    (click)="openDropdown('registros')"
  >
    <div class="contain" style="cursor: pointer;">
      <span class="text-light">
        <h1>Registros</h1>
      </span>
    </div>
  </div>
  
  <!--  -->
  <div class="col-10 my-2 bg-prueba-2 text-center">
    <div class="contain">
      <span class="text-light">
        <h1>Promedio de servicio completo</h1>
      </span>
    </div>
  </div>
  <!--  -->
  <div class="col-10 my-2 bg-prueba-3 text-center">
    <div class="contain">
      <span class="text-light">
        <h1>Servicios</h1>
      </span>
    </div>
  </div>
  <!--  -->
  <div class="col-10 my-2 bg-prueba-4 text-center">
    <div class="contain">
      <span class="text-light">
        <h1>Comensales</h1>
      </span>
    </div>
  </div>
  <!--  -->
  <div class="col-10 my-2 bg-prueba-5 text-center">
    <div class="contain">
      <span class="text-light">
        <h1>Empresas</h1>
      </span>
    </div>
  </div>
</div>
